---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sobre Nosotros">
  <div class="max-w-7xl mx-auto mt-4 md:mt-10 px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="mb-4 md:mb-0 md:align-top">
        <h2 class="text-3xl font-bold mb-4">Sobre Nosotros</h2>
        <p class="text-lg">
          Nuestra empresa se fundó con la pasión por la innovación y el
          compromiso con la excelencia. Desde el primer día, nos hemos dedicado
          a desafiar los límites de lo posible y a crear un impacto positivo en
          el mundo que nos rodea. Nos esforzamos por ofrecer soluciones
          creativas y tecnológicamente avanzadas que no solo satisfagan, sino
          que superen las expectativas de nuestros clientes.
          <br />Con un equipo diverso y talentoso compuesto por expertos en
          diversos campos, estamos dedicados a la excelencia en cada paso del
          camino. Valoramos la creatividad, la colaboración y el enfoque
          centrado en el cliente en todo lo que hacemos. Creemos en la
          importancia de escuchar a nuestros clientes y comprender sus
          necesidades para ofrecer soluciones que realmente marquen la
          diferencia.
        </p>
      </div>

      <div>
        <h2 class="text-3xl font-bold mb-4">Objetivos</h2>
        <ul class="list-disc list-inside text-lg">
          <li>Crear una experiencia única para nuestros usuarios.</li>
          <li>
            Innovar constantemente en el desarrollo de nuevas características.
          </li>
        </ul>
        <h2 class="text-3xl font-bold mb-4 mt-8">Visión</h2>
        <p class="text-lg">
          Nos visualizamos como líderes en la industria, siendo reconocidos por
          nuestra capacidad para transformar ideas en realidades tangibles.
          Nuestra visión es establecer un estándar de excelencia en cada
          proyecto en el que nos embarquemos, impulsados por la innovación y el
          compromiso con la calidad. Aspiramos a ser pioneros en la creación de
          soluciones que impulsen el progreso y mejoren la sociedad en su
          conjunto.
        </p>
      </div>
    </div>
    <div class="mt-8">
      <!-- Aquí puedes agregar una imagen relacionada con la descripción -->
      <picture>
        <img
          src="/image-about.jpg"
          alt="Imagen sobre el proyecto"
          class="w-full rounded-lg h-[50vh] object-cover"
        />
      </picture>
    </div>
  </div>
</Layout>
