---
import Header from "../components/Header.astro";
---

<nav class="relative">
  <picture class="relative">
    <img
      src="/banner-spacex.jpg"
      alt="SpaceX"
      class="w-full h-[80vh] object-cover"
      loading="eager"
    />
    <div class="absolute inset-0 bg-black opacity-40"></div>
  </picture>
  <Header />
</nav>
