---
import Header from "../components/Header.astro";
---

<nav class="relative">
  <picture class="relative">
    <source srcset="/banner-spacex-large.webp" media="(min-width: 1025px)" />
    <source srcset="/banner-spacex-medium.webp" media="(max-width: 1024px)" />
    <source srcset="/banner-spacex-small.webp" media="(max-width: 600px)" />
    <img
      src="/banner-spacex.webp"
      alt="SpaceX"
      class="w-full h-[80vh] object-cover"
      loading="eager"
    />
    <div class="absolute inset-0 bg-black opacity-40"></div>
  </picture>
  <Header />
</nav>
